/* 100% custom css rules, not derived from any template. */

$main_width: 900px;

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	background-color: black;

	display: flex;
	flex-flow: column;
}

.main_bg {
	@media (min-width: $main_width) {
		background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(header2.png);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: center bottom, center bottom;
		background-attachment: fixed, fixed;
	}

	flex: 1 0 1px;
	padding-bottom: 2em;
}

main {
	background-color: #f2f2EC; //rgba(255,255,255,0.9);
	color: black;
	margin: 0 auto;
	padding: 0.5em 1em 1em 1em;
	max-width: $main_width;

	@media (min-width: $main_width) {
		// increase padding on large screens
		padding: 0.5em 1.5em 1em 1.5em;
	}
}


.home_button {
	display: block;

	max-width: 0.5 * $main_width;
	margin: 0.5em auto;
	font-size: 20px;
	line-height: 40px;

	background-color: #0d0d13;
	user-select: none;
	font-family: 'Montserrat', sans-serif;

	padding: 3px 5px;

	color: #ececec;
	&:hover {
		//color: #d6d6d6;
		color: #47bded;
	}
}

a.header-link * {
	transition: color 0.5s ease;
	color: #414142;
	&:hover {
		color: #47bded;
	}
}

ul, ol {
	// undo the damage from reset.css
	padding-left: 2em;
}

section.post-overview {
	display: flex;
	flex-flow: row nowrap;
}
section.post-overview > .thumbnail {
	flex: 0 0 auto;
}

.thumbnail > a > img {
	border-radius: 4px;
}

section.post-overview > .overview {
	flex: 1 1 auto;
	padding-left: 16px;
	.title {
		margin-top: 0;
	}
}

td {
	padding: 5px;
}
