{% extends "base.html" %}

{% block extra_head %}
<script type="module" src="{{ get_url(path='js/account.js', trailing_slash=false) }}"></script>
{% endblock extra_head %}

{% block content %}
<section class="post">
    <div class="title-and-info">
        <h2>{{ page.title }}</h2>
        <div class="info">
            {% if page.date and page.title != "Welcome!" %}
            <span class="divider"/>
            <span>{{ page.date | date(format="%d %B %Y") }}</span>
            {% endif %}
        </div>
    </div>
    <article>
        {% if page.extra.banner is defined %}
        {# we're not allowed to use shortcodes here, so we'll copy/paste from shortcodes/img #}
        {% set url = page.extra.banner %}
        {% if url is containing("media.discordapp.net") %}
        {% set url = url | replace(from="media.discordapp.net", to="cdn.discordapp.com") | split(pat="?") | first %}
        {% endif %}
        <figure class="inline-image">
            <a href="{{url}}" target="_blank"><img src="{{url}}" alt="banner" /></a>
        </figure>
        <hr />
        {% endif %}
        {{ page.content | safe }}
    </article>
</section>
{% endblock content %}
